// colors
$body-bg-color: #F2F2F2;
$primary-white: #fff;
$header__link-color: #9E9AA8;
$header__link-hover-color: #34313D;
$title-color: #34313D;
$text-color: #9E9AA8;
$btn-bg-color: #2BD0D0;
$btn-hover-bg-color: #9AE3E3;
$input-btn-bg-color: #3A3054;
$footer-bg-color: #232127;
$footer-link-color: #BFBFBF;