button {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    padding: 1.4rem 4rem 1.2rem 4rem;
    border-radius: 28px;
    color: $primary-white;
    background-color: $btn-bg-color;
}
button:hover {
    background-color: $btn-hover-bg-color;
}
.header__btn {
    margin-left: 3.7rem;
}
.section-input__btn {
    border-radius: 10px;
}
.section-input__link1__btn {
    border-radius: 5px;
}